{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Wiki | {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'encyclopedia/styles.css' %}">
        <link rel="shortcut icon" href="{% static 'images/wiki-fav-icon.jpg' %}" type="image/x-icon">
    </head>

    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="logo is not found">
                </div>
                <h2>Wiki</h2>
                <form class="search-form" method="get"  action="{% url 'search' %}">
                    <div class="search-field">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="search" type="text" name="q" placeholder="Search ">
                    </div>
                </form>
                <div class="sidebar-item">
                    <div>
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="{% url 'index' %}">Home</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-square-plus"></i>
                        <a href="{% url 'create' %}">Create New Page</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-shuffle"></i>
                        <a href="{% url 'random' %}">Random Page</a> 
                    </div>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>